asgiref
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
crispy-tailwind
cssbeautifier
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-cors-headers
django-crispy-forms
django-environ
django-password-reset
django-phonenumber-field
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
djlint
EditorConfig
filelock
gunicorn
html-tag-names
html-void-elements
idna
jsbeautifier
json5
MouseInfo
mysql-connector-python
packaging
pathspec
phonenumbers
pillow
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
PyYAML
regex
requests
six
sqlparse
sslcommerz-lib
tqdm
typing_extensions
tzdata
urllib3
virtualenv
whitenoise